<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>环创奖状展示</title>
  <link href="{{ url_for('static',filename='admin/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static',filename='admin/vendor/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
  <link href="{{ url_for('static',filename='admin/vendor/datatables/dataTables.bootstrap4.css') }}" rel="stylesheet">
  <link href="{{ url_for('static',filename='admin/css/sb-admin.css') }}" rel="stylesheet">
  <link href="{{ url_for('static',filename='admin/css/main.css') }}" rel="stylesheet">

</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
    <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="charts.html">环创奖状管理系统</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
          <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
            <a class="nav-link" href="{{ url_for('admin_index') }}">
              <i class="fa fa-fw fa-dashboard"></i>
              <span class="nav-link-text">奖状统计</span>
            </a>
          </li>
          <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
            <a class="nav-link" href="{{ url_for('admin_manage') }}">
              <i class="fa fa-fw fa-table"></i>
              <span class="nav-link-text">奖状管理</span>
            </a>
          </li>

        </ul>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
          <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
            <a class="nav-link" href="{{ url_for('admin_index') }}">
              <i class="fa fa-fw fa-dashboard"></i>
              <span class="nav-link-text">奖状统计</span>
            </a>
          </li>

          <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
            <a class="nav-link" href="{{ url_for('admin_manage') }}">
              <i class="fa fa-fw fa-table"></i>
              <span class="nav-link-text">奖状管理</span>
            </a>
          </li>

        </ul>
      </div>
    </div>
  </nav>
  <div class="content-wrapper">
    <div class="container-fluid">
        {% block main_part %}
        {% endblock %}
    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <footer class="sticky-footer">
      <div class="container">

      </div>
    </footer>
    <script src="{{ url_for('static',filename='admin/vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static',filename='admin/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static',filename='admin/vendor/jquery-easing/jquery.easing.min.js') }}"></script>
    <script src="{{ url_for('static',filename='admin/vendor/chart.js/Chart.min.js') }}"></script>
    <script src="{{ url_for('static',filename='admin/vendor/datatables/jquery.dataTables.js') }}"></script>
    <script src="{{ url_for('static',filename='admin/vendor/datatables/dataTables.bootstrap4.js') }}"></script>
    <script src="{{ url_for('static',filename='admin/js/sb-admin.min.js') }}"></script>
    <script src="{{ url_for('static',filename='admin/js/sb-admin-datatables.min.js') }}"></script>
    {% block foot_script %}
    
    {% endblock %}
  </div>
</body>
</html>
