<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="author" content="Vincent Garreau" />
	<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"> -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<title>荣耀展示系统</title>
	<link rel="stylesheet" type="text/css" href="../node_modules/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="../iconfont/iconfont.css">
	<link rel="stylesheet" type="text/css" href="../dist/css/index.min.css">
	<link rel="stylesheet" type="text/css" href="../dist/css/style.min.css">
	<script type="text/javascript" src="../dist/js/jquery.min.js"></script>
	<script type="text/javascript" src="../dist/js/index.min.js"></script>
</head>
<body>


	<nav>

		<div class="container">
			<!-- 环创logo -->
			<div class="logo">
				<img src="../dist/images/logo.png">
			</div>

		 	<div class="hclab">
		 		<img src="../dist/images/hclab.png"> 
		 	</div>
		 	<div class="search-box">
		 		<button><i class="icon-List iconfont"></i></button>
		 	</div>
		 	<div class="down">
		 		<ul>
		 			<li>
		 				<div class="line"></div>
		 				<a href="../html/index.html">首页</a>
		 			</li>
		 			<li>
		 				<div class="line" style="display: none;"></div>
		 				<a href="../html/list.html">列表</a>
		 			</li>
		 		</ul>
		 	</div>
		</div>
	</nav>


<!-- 动态背景 -->
<div id="particles-js">
	<div class="qiubox">
		<img class="ball" src="../dist/images/ball.png">
		<img class="huanc" src="../dist/images/huanc.png">
	</div>
	<div class="hc-images">
		<div class="hc-textbox">
			<p class="hc-text">环创工作室</p>
			<p class="hc-text2">全称为环宇创意电脑工作室,是广东省韶关学院第一个校级学生电脑技术性组织。</p>
			<div class="bottom-line"></div>
		</div>
</div>
</div>


	
 
	<div class="all">
		<div class="all-img">
			<div class="all-count">
				<p>30</p>
			</div>
			<div class="all-text">
				 <p>至今为止<img src="../dist/images/jx.png"></p>
				 <p>所获得的奖项总数</p>
				 <p class="english">Total number of awards received</p>
			</div>

		</div>
		<div class="all-detail">
			<div class="detail-bg">
			</div>
			<ul class="colorall">
				<li class="red">
					<img src="../dist/images/red.png" class="other">
					<div class="colorall-text">
				 		<p>至今为止</p>
				 		<p>所获得的省级奖项</p>
				 		<p class="english">Number of provincial awards</p>
					</div>
					<div class="show-detail"><span>100</span></div>
					<div class="show-detail2">
						<div class="one">
							<p>100</p>
							<p class="text">一等奖</p>
						</div>
						<div class="one">
							<p>100</p>
							<p class="text">二等奖</p>
						</div>
						<div class="one">
							<p>100</p>
							<p class="text">三等奖</p>
						</div>
					</div>
					
				</li>
				<li class="blue">
					<img src="../dist/images/blue.png">
					<div class="colorall-text">
				 		<p>至今为止</p>
				 		<p>所获得的省级奖项</p>
				 		<p class="english">Number of provincial awards</p>
					</div>
					<div class="show-detail"><span>1000</span></div>
					<div class="show-detail2">
						<div class="two">
							<p>100</p>
							<p class="text">一等奖</p>
						</div>
						<div class="two">
							<p>100</p>
							<p class="text">二等奖</p>
						</div>
						<div class="two">
							<p>100</p>
							<p class="text">三等奖</p>
						</div>
						
						
					</div>
					
				</li>
				<li class="green">
					<img src="../dist/images/green.png">
					<div class="colorall-text">
				 		<p>至今为止</p>
				 		<p>所获得的省级奖项</p>
				 		<p class="english">Number of provincial awards</p>
					</div>
					<div class="show-detail"><span>1</span></div>
					<div class="show-detail2">
						<div class="three">
							<p>100</p>
							<p class="text">一等奖</p>
						</div>
						<div class="three">
							<p>100</p>
							<p class="text">二等奖</p>
						</div>
						<div class="three">
							<p>100</p>
							<p class="text">三等奖</p>
						</div>
					</div>
					
				</li>
			</ul>
		</div>
	</div>

	<div class="awards-img">
		<ul class="listall">
			<li>
				
				<div class="list-container">
					<a href="list-detail.html" style="display: block; text-decoration: none;">
						<p class="list-title">智慧公交精准控制系统</p>
						<p class="list-detail">第五届中国"互联网+"大学生创新创业大赛二等奖</p>
						<span class="list-rank">级别:国级</span>
						<span class="list-time">项目时间:2019.01.11</span>
						<img src="../dist/images/awards.jpg" class="awards">
						<img src="../dist/images/sanjiao.png" class="sanjiao">
					</a>
				</div>
				
			</li>
			
		</ul>
	
	</div>



<script type="text/javascript" src="../dist/js/particles.min.js"></script>


<script type="text/javascript" src="../dist/js/app.js"></script>






	
</body>
</html>